@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
  --vs-primary: 29 92 255;
}

/*Dialog Styles*/
dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
  &::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    &:hover {
      filter: grayscale(0);
    }
  }
  h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
    a {
      &:visited {
        color: rgb(var(--vs-primary));
      }
    }
  }
  .modal-btn {
    display: inline-block;
    width: 50%;
  }
}

/*General Styles*/
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  background: url(https://images.unsplash.com/photo-1574169208507-84376144848b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=879&q=80)
  no-repeat center center;
  background-size: cover;
}
button {
    background-color: #21D375;
    width: 50%;
    height: 30px;
    border-radius: 23px;
    color: #ffff;
    border: none;
    outline: none;
    margin-top: 15px;
    align-items: center;
  //&:hover {
  //  box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
  //  transform: translateY(-5px);
  //}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
